body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.sky {
    position: absolute;
    width: 100%;
    height: 100%;
}
.hero {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 2%;
}
.grass {
    width: 100%;
    height: 20%;
    background-color: #39b54a;
    position: absolute;
    bottom: 0;
}

#sticker-sticky-wrapper {
    position: relative;
    z-index: 999999;
}

#sticker {
    width: 100%;
}

nav {
    padding-top: 15px;
    height: 44px;
    text-align: center;
    font-size: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    border-left: none;
}

.is-sticky nav {
    border: none;
}
.is-sticky nav .active {
    opacity: 1;
}
.is-sticky nav a {
    opacity: 0.4;
}
nav a {
    display: inline-block;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -15px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 39px;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% /6);
    height: 39px;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    background-image: url('../img/bg.png');
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

#link6 {
    border-right: none;
}

nav .active,nav a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: none;
    color: white;
}



.title_wrap {
    position: absolute;
    right: 20px;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: right;
}

.title_wrap h1 {
    margin: 0;
    margin-bottom: -10px;
    font-weight: 700;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    cursor: default;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.content {
    padding: 30px;
    padding-top: 0;
    position: relative;
    top: 59px;
    background-color: rgba(0, 0, 0, 0.33);
    width: 60%;
    margin-left: 5%;
    margin-top: 3%;
}

.content h1 {
    width: 75%;
    color: white;
    font-weight: 300;
    font-size: 2.8em;
    margin-bottom: -10px;
    margin-top: 30px;
    padding-top: 20px;
}
.content p {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

/*Transitions*/
nav a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
