html, body {
  margin: 0;
  padding: 0;
  background-color: #39b54a;
}

.window {
  width: 100%;
  height: 100%;
  position: absolute;
}

.window:nth-child(1) {
  background: #08afdd; /* Old browsers */
  background: -moz-linear-gradient(top,  #08afdd 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#08afdd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #08afdd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #08afdd 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #08afdd 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #08afdd 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08afdd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  top: 0%;
  background-size: cover;
}

.window:nth-child(2) {
  background-color: #1babb7;
  top: 100%;
  /*
  background-image: url('../img/about-bg.gif');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  */
  background-image: url('../img/test/2.jpg');
  background-size: cover;
}

.window:nth-child(3) {
  background: #6ab29f;
  background-image: url('../img/test/3.jpg');
  background-size: cover;
  top: 200%;
}

.window:nth-child(4) {
  background: #333a3e;
  top: 300%;
  background-image: url('../img/test/1.jpg');
  background-size: cover;
}

.window:nth-child(5) {
  background: #d0482b;
  top: 400%;
  background-image: url('../img/test/4.jpg');
  background-size: cover;
}

.window:nth-child(6) {
  background: #231f20;
  top: 500%;
  background-image: url('../img/test/5.jpg');
  background-size: cover;
}
